# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
.env/
env/
ENV/
venv.bak/
venv/

# VSCode
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Python egg
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
