# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment Variables
.env

# VS Code settings
.vscode/

# Jupyter Notebooks (optional)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
